@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Aladin&family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Aladin&family=Darker+Grotesque:wght@300&family=Glory&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../images/bg-signin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}
#box{
  display: flex;
  width: 100%;
  height: 125px; 
  background: black;
  box-shadow: 3px 3px 1px 0px #00000060
}
#box2{
  
  display: block;
  float: right;
  width: 100%;
  height: 125px; 
  background: black;
  box-shadow: 3px 3px 1px 0px #00000060
}

#tituloprahome{
  position: absolute;
  width: 199px;
  top: 40px;
  left: 80px;
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  mix-blend-mode: normal;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li{
  float:right;
  font-size: 25px;
  text-align: 50%;
  padding-top: 32px;
  
}
li a {
  width: 50%;
  left: 27px;
  display:block;
  color: #B400A0;
  text-align:right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: #272262;
}

#iconetopodapagina {
  box-sizing: border-box;
  border-radius: 4%;
  display:flex;
  position:relative;
  width: 60px;
  height: 82px;
  left: 15px;
  top: 20px;

}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #0d009c
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #0d009c;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

.label-float label{
  color: #0d009c;
  /*pointer-event: none;*/
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button{
  background-color: transparent;
  border-color: #0d009c;
  color: #0d009c;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #0d009c;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #0d009c;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}


