body, textarea, placeholder {
	margin: 0;
	padding: 0;
	font-family: 'Aladin', sans-serif;
	color: #000;
}

::placeholder {
	color: #000;
	font-size: 22px;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem;
	background-color: #000;
	color: white;
}

.logoImg {
	width: 60px;
	height: 82px;
}

.imgNameUser {
	width: 215px;
	height: 215px;
}

.imgUser {
	width: 120px;
	height: 117px;
}

.boardImg {
	align-items: center;
	border: 1px solid #000;
	padding: 1rem 1rem;
}

#logoNome {
	font-size: 2.5rem;
	letter-spacing: 0.7px;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.container {
	background-color: #EAC0EE;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.content {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.inputContent {
	margin-top: 5rem;
}

:placeholder {
	font-family: 'Aladin', sans-serif;
}

.btnPerfil {
	background-color: #EAC0EE;
	text-transform: uppercase;
	font-family: 'Aladin', sans-serif;
	color: #000;
}

footer {
	background-color: #000;
	color: white;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.contentProfile {
	width: 100%;
	background-color: #E9B2EE;
	padding: 2rem 2rem;
	gap: 12px;
	margin-bottom: 1rem;
}

.contentImg {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	margin-bottom: 3rem;
}

.inputText {
	background-color: #E9B2EE;
	width: 500px;
	height: 118px;
	padding: 12px 12px;
}

.textSocial {
	width: 100%;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}